<form [formGroup]="noteForm">
    <div class="alert alert-danger" *ngIf="hasError()">
        <div *ngIf="noteText.errors?.required" i18n="Note's text required | Validation message">
            Note's text is required.
        </div>
        <div *ngIf="noteText.errors?.minlength" i18n="Note's text minlength | Validation message">
            Note's text must be more than 2 symbols.
        </div>
        <div *ngIf="noteText.errors?.maxlength" i18n="Note's text maxlength | Validation message">
            Note's text must be less than 500 symbols.
        </div>
    </div>
    <textarea cols="10" rows="5" formControlName="noteTextControl" class="form-control"
    (input)="noteChangeText()">
</textarea>
</form>

<div class="form-control border-0" *ngIf="!edit">
    <input class="btn btn-success float-right" type="button" value="Add" 
    [disabled]="noteText.errors" (click)="add()"
    i18n-value="Add button|An add button to create new note">
</div>