<form [formGroup]="noteForm">
    <div class="alert alert-danger" *ngIf="hasError()">
        <div *ngIf="noteText.errors?.required" i18n="text required">
            Text is required.
        </div>
        <div *ngIf="noteText.errors?.minlength" i18n="text's minlength">
            Text's min length is 2.
        </div>
        <div *ngIf="noteText.errors?.maxlength" i18n="text's maxlength">
            Text's max length is 500.
        </div>
    </div>
    <textarea cols="10" rows="5" formControlName="noteTextControl" class="form-control"
    (input)="noteChangeText()">
</textarea>
</form>

<div class="form-control border-0" *ngIf="!edit">
    <input class="btn btn-success float-right" type="button" value="Add" 
    [disabled]="noteText.errors" (click)="add()"
    i18n-value="add button|An add button to create new note">
</div>